.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 15%;
    background: var(--baseblue);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.underline:hover:after {
    width: 20%;
    background: var(--baseblue);
}
h2{
    /* border-bottom: 2px solid var(--baseblue); */
    padding-bottom:7px ;
    text-align: center;
    color: var(--baseblue);
}
.form form{
    display: flex;
    flex-direction: column;
}
.form .button{
    width: 100px;
    margin-left: 0px;
    background-color: transparent;
}
.form .button:hover{
    background-color: var(--baseblue);
}
.form input{
    outline: none;
    padding: 10px;
    width: 400px;
    margin-bottom: 22px;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid var(--baseblue);
}
.form{
    display: flex;
    /* margin-top: 59px; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.add{
    color: var(--baseblue);
    padding: 0px;
    text-align: center;
    /* padding: 20px; */
    width: 180px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 2px solid var(--baseblue);
    font-size: 23px;
    margin-bottom: 10px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.add:hover{
    color: white;
    background-color: var(--baseblue);
}
.toolbar{
    display: flex;
    justify-content: center;
}
