.card {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    display: flex;
    background: white;
    width: 80%;
    flex-wrap: wrap;
    height: 210px;
    align-items: center;
    /* justify-content: center; */
    justify-self: center;
    margin: auto;
    margin-top: 10px;
    /* border-radius: 9px; */
}

.card_img {
    width: 30%;
    height: 100%;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.card_img h3 {
    text-align: center;
}

.card_img h5 {
    text-align: center;
}

.card_body {
    /* margin-left: auto; */
}
h4{
    text-align: center;
}
h4:hover {
    cursor: pointer;
}

.loadmore {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.pagebtn {
    width: 144px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg);
    border: 2px solid var(--baseblue);
}

.pagebtn:hover {
    color: white;
    background-color: var(--baseblue);
    border: 2px solid var(--baseblue);
}

.pagebtn1 {
    width: 144px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg);
}

.card_body{
    margin-left: 10px;
}

@media only screen and (max-width: 947px) {
    .card_author{
        text-align: center;
    }
    .card_body{
        margin-left:0px;
    }
    .blogs {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .card{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card:nth-child(1){
        margin-top: 74px;
    }
    .card:nth-child(2){
        margin-top: 74px;
    }
    .card_img{
        height: 210px;
        width: 100%;
    }
}
@media only screen and (max-width: 590px) {
    .blogs {
        display: grid;
        grid-template-columns: auto;
    }
    .card{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card_img{
        height: 250px;
        width: 100%;
    }
}