:root {
    --baseblue: rgb(75, 75, 255);
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.sign{
    color: var(--baseblue);
    text-align: center;
}
form input{
    background-color: #eee;
    margin: 20px;
    color: var(--baseblue);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1.9px solid var(--baseblue);   
    font-size: 18px; 
}
.loginform{
    /* width: 100%; */
    margin: auto;
    margin-top: 30px;
    width: 470px;
    border-radius: 30px;
    height: 70vh;
    background-color: #eee;
    /* box-shadow: 5px 5px 20px 1px #424040; */
    align-self: center;
    justify-self: center;
}
form button{
    margin: 20px;
    border-radius: 25px;
    color: var(--baseblue);
    border: 2px solid var(--baseblue);
    padding: 10px;
    font-size: 18px; 
    
}
form button:hover{
    background-color: var(--baseblue);
    color: white;
}
@media only screen and (max-width: 506px) {
    .loginform{
        width: 376px;
    }
}
@media only screen and (max-width: 390px) {
    .loginform{
        width: 276px;
        max-width: 100%;
    }
    form input{
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
    }
}