:root {
    --baseblue: rgb(75, 75, 255);
}

/* .blog {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
} */
.blog {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.load{
    display: flex;
    flex-direction: row;
}
.blogs {
    display: flex;
}
.load .t{
    margin-right: 4px;
    width: 50%;
    text-align: end;
}
.load .s{
    transform: rotate(180deg);
            margin: 0;
            font-size: 20px;
            font-weight: 900;
            text-align: start;

}
.tanddes {
    width: 50%;
}

h4 {
    align-self: end;
    margin-right: 20px;
}

.blogimg {
    width: 223px;
    border-radius: 136px;
    height: 223px;
}

.contain {
    padding: 20px;
    cursor: pointer;
    margin: 4px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    height: auto;
}

/* @media only screen and (max-width: 920px) {
    .blog {
        grid-template-columns: auto auto;
        max-width: 100%;
        margin: 10px;
    }
}
@media only screen and (max-width: 428px) {
    .blog {
        grid-template-columns: auto;
        max-width: 100%;
        margin: 10px;
    }
}
@media only screen and (min-width: 1000px) {
    .blog {
        grid-template-columns: auto auto auto auto auto;
        max-width: 100%;
        margin: 10px;
    }
} */
@media only screen and (max-width: 980px) {
    .contain {
        flex-direction: column;
        align-items: center;
    }
    .blogimg{
        width: 223px;
        border-radius: 136px;
        height: 223px;
    }
}