:root {
    --baseblue: rgb(75, 75, 255);
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    box-shadow: 5px 5px 13px 3px #c2bcc9;
    padding: 5px;
    background-color: #eee;
}

.nav .navnext ul {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.brand {
    text-shadow: 2px 2px 20px #646464;
    margin-left: 4px;
    cursor: pointer;
    font-size: 25px !important;
    color: var(--baseblue);
}

.burger {
    display: none;
}

.navnext {
    display: flex;
    transition: all 1.2s ease;
}

.line {
    box-shadow: -5px -5px 19px black;
}

.line:nth-child(3) {
    width: 24px;
    margin: 4px;
    height: 3px;
    background-color: var(--baseblue);
}

.line:nth-child(2) {
    width: 18px;
    margin: 4px;
    height: 3px;
    background-color: var(--baseblue);
}

.line:nth-child(1) {
    width: 14px;
    margin: 4px;
    height: 3px;
    background-color: var(--baseblue);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .navnext ul li:hover {
    border-bottom: 2px solid var(--baseblue);
}

.nav .navnext ul li {
    cursor: pointer;
    color: var(--baseblue);
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 4900px;
}

.btn {
    cursor: pointer;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button:hover:first-child {
    color: white;
    background-color: var(--baseblue);
}

.btn button:nth-child(2) {
    background-color: var(--baseblue);
    color: white;
}

.btn button:hover:nth-child(2) {
    border: 2px solid var(--baseblue);
    background-color: transparent;
    color: var(--baseblue);
}

.btnb:hover>.btnb {
    background-color: transparent;
    color: white;
}

.btn button {
    border-radius: 25px;
    color: var(--baseblue);
    border: 2px solid var(--baseblue);
    margin-left: 6px;
    padding: 10px 30px;
}

.none {
    opacity: 100% !important;
    height: 190px !important;
}

.searchform {
    display: flex;
    flex-direction: row;
}

#searchtext {
    text-align: center;
    border-radius: 20px;
    width: auto;
    height: 18px;
    outline: none;
    border: 1px solid blue;
    align-self: center;
    padding: 8px;
    font-size: 18px;

}

@media only screen and (max-width: 947px) {
    .btn button {
        margin-left: 0;
    }
    #searchtext{
        margin-bottom: 18px;
    }
    .searchform {
        display: flex;
        flex-direction: column;
    }

    .brand {
        text-align: center;
    }

    .burger {
        /* display: flex;
        flex-direction: column-reverse; */
        /* margin: 0; */
        display: block;
        transform: rotate(180deg);
    }

    .burger:active>nav .navnext {
        display: block;
    }

    nav .navnext {
        opacity: 0%;
        height: 0;
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
}






/* slug.htmlcss */
.container .title h1{
    margin-right: 5px !important;
    margin-bottom: 0px !important;
    margin: 20px;
    color: var(--baseblue);
}
.container .title h4{
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    color: var(--baseblue);
}
.title{
    display: flex;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}