<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

{% if loggedin == True %}

<body style="background-color: #eee">
    <div class="mainpanel">
        <div class="titlebar">
            <h2 class="underline">Brave Programmer Admin Panel: {{username}}</h2>
        </div>
        <div class="toolbar">
            <button class="add" onclick="location.href = '/admin/create?username={{username}}&password={{password}}'">
                &plus; New Blog
            </button>
        </div>
        <!-- <div id="editor">
            <p>Here goes the initial content of the editor.</p>
        </div> -->
        <div class="allblog">
            {% for doc in allblog %}
            <div class="card" onclick="location.href = '/blog/{{doc.slug}}'">
                <!-- <div class="card_img">
                    <h3>Brave <br> Programmer</h3>
                    <h5>By Mohit</h5>
                </div> -->
                <div class="card_body">
                    <h4 class="card_title">
                        <b>{{doc.title}}</b>
                    </h4>
                    <p class="card_author">
                        Author: {{doc.author}}
                    </p>
                </div>
                <div class="tools">
                    <div class="edit">
                        <button><span>&#9997;</span></button>
                    </div>
                    <div class="delete">
                        <button><span>&#10060;</span></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% elif loggedin == 'Invalid'%}
    <div class="titlebar">
        <h2 class="underline">Brave Programmer Admin Panel</h2>
    </div>
    <div class="form">
        <form action="/admin" method="POST">
            <h2>Login In</h2>
            <h2>Invalid Credentials</h2>
            <input type="text" name="username" id="username" placeholder="Enter Username" required>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
            <button class="button">
                Login
            </button>
        </form>
    </div>
    {% else %}

    <body>
        <div class="titlebar">
            <h2 class="underline">Brave Programmer Admin Panel</h2>
        </div>
        <div class="form">
            <form action="/admin" method="POST">
                <h2>Login In</h2>
                <input type="text" name="username" id="username" placeholder="Enter Username" required>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
                <button class="button">
                    Login
                </button>
            </form>
        </div>
    </body>
    {% endif %}

</html>