<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="nav">
        <nav>
            <h2 class="brand">Brave Programmer</h2>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Blog</li>
                <li>Video</li>
            </ul>
            <div class="btn">
                <button class="btna" onclick="location.href='/login';">Login</button>
                <button class="btnb" onclick="location.href='/signup';">Sign Up</button>
            </div>
        </nav>
    </div>
</body>

</html>