<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="nav">
        <nav>
            <div class="head">
                <h2 class="brand">Brave Programmer</h2>
            </div>
        </nav>
    </div>
    <div class="loginform">
        <h1 class="sign">Sign In</h1>
        <form action="/api/v1/login" method="post">
            <input type="text" name="username" id="username" placeholder="Enter Username">
            <input type="text" name="password" id="password" placeholder="Enter Password">
            <button>Login</button>
        </form>
    </div>
</body>
    <!-- <script src="{{ url_for('static', filename='app.js') }}"></script> -->
</html>