<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='searchblog.css') }}">
    <title>Document</title>

</head>

<body>
    <div class="nav">
        <nav>
            <div class="head">
                <h2 class="brand">Brave Programmer</h2>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="navnext">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Video</li>
                </ul>

                <div class="btn">
                    <form action="/search" method="POST" class="searchform">
                        <input type="text" name="searchtext" id="searchtext" placeholder="Search Blog">
                        <button class="btnb">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <section class="blogs">
        {% if noblog == True %}
        <h1>No Blog</h1>
        {% else %}
        <div class="blog">
            {% for document in blog %}
            <div class="contain" onclick="location.href = '/blog/{{document.slug}}';">
                <img src="{{ url_for('static', filename='searchblog.jpg') }}" alt="blogimg" srcset="" class="blogimg">
                <div class="tanddes">
                    <h2>{{document.title}}</h2>
                    <p style="height: fit-content;width: fit-content;">{{document.contain[:60] + (document.contain[60:]
                        and '..')}}</p>
                </div>
                <h4>Author:-{{document.author}}</h4>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <div class="loadmore">
        <span class="load">
            <p class="t">Load More</p>
            <p class="s">^</p>
        </span>
    </div>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</html>