<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="nav">
        <nav>
            <div class="head">
                <h2 class="brand">Brave Programmer</h2>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="navnext">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Video</li>
                </ul>

                <div class="btn">
                    <form action="/search" method="POST" class="searchform">

                        <input type="text" name="searchtext" id="searchtext" placeholder="Search Blog">
                        <button class="btnb">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    {% if noSlug == True %}
    <h1>No Blog</h1>
    {% else %}
    <section class="blog">
        <div class="container">
            {% for doc in data %}
            <h1>{{doc.title}}</h1>
            <h4 style="
    margin: 0;
    align-items: center;
    text-align: center;
    align-self: center;
">- By{{doc.author}}</h4>
            {%endfor%}
        </div>
    </section>
    {% endif %}


    <noscript>
        <h1>Please enable javascript</h1>
    </noscript>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</html>